<ion-content>
  <div class="splash full-vh">
<ion-grid class="">
  <ion-row class="ion-justify-content-start mt-170">
    <ion-col size-xs="11" size-md="7" class="mx-auto ion-text-center">
      <img src="assets\imgs\logo2.png" />
    </ion-col>
  </ion-row>
</ion-grid>
<ion-footer class="ion-text-center footer-bar bg-primary">
  <ion-grid>
    <ion-row >
      <ion-col class="ion-text-center">
        <ion-button (click)="register()" expand="block" class="uppercase flat bold">
          register
        </ion-button>
      </ion-col>
      <ion-col size="1" class="mx-auto ion-text-center">
        <div class="verticalLine mx-auto"></div>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-button (click)="logIn()" expand="block" class="uppercase flat bold">
          login
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
</div>
</ion-content>
