//COMPONENT
ion-content {
  --background: var(--theme-background-color);
}
ion-menu-button {
  color: var(--theme-color-primary);
}
ion-toolbar {
  --color: var(--theme-background);
  color: var(--theme-background);

}

ion-item {
  &.box {
      --background: var(--theme-background-box);
      border-radius: 7px;
  }
}
ion-list {
  --background: var(--theme-background-color);
  background: var(--theme-background-color);
  &.list-ios,&.list-md {
      background: var(--theme-background-color);
      --background: var(--theme-background-color);
      ion-item {
          background: var(--theme-background-color);
          --background: var(--theme-background-color);
      }
  }

}
ion-button {
  border-radius: 7px;
  box-shadow: 0 8px 25px -12px rgba(0,0,0,0.3);
  &.flat {
      border-radius: 0px !important;
      box-shadow: unset !important;
      --box-shadow: unset;
  }
  &.ion-activated {
      background-color:var(--theme-color-primary-active);
      --background:var(--theme-color-primary-active);
      --background-activated:var(--theme-color-primary-active);
  }

}
ion-footer {
  ion-toolbar {
      --background: var(--theme-background-color);
      background: var(--theme-background-color);
    text-align: center;
  }

}
ion-toolbar {
  box-shadow: -13px -63px 60px 27px rgb(189 189 189);
  --border-width: 0 !important;
}
ion-refresher {
  z-index: 100;
}
input {
  color: gray;
  --color: gray;
}


// MAP
.map-display {
  position:relative;
  top:0;
  bottom:0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  .mapboxgl-ctrl {
      display: none;
  }
}
.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
.map-action {
  float: right; position: absolute; bottom: 0; right: 0;
}
.map-full-height {
  height:100vh;
  display:block;
}
.livetracking-btn {
  width: 33px;
  height: 33px;
}
.map-bar {
  width: 100%;
  position: absolute;
  color: #222;
  background-color: var(--theme-color-primary-transparent);
}
.map-btn {
  height:40px;
  width:40px;
  border-radius:20%
}
.map-info-bar {
  width: 100%;

}
.marker-tracking {
  background-size: 100%;
  background-image: url('../assets/icon/bus-small.png');
  width: 29px;
  height: 16px;
  image-rendering: inherit;
}

//TIME
.text-time-early {
  color: var(--theme-color-time-early);
}
.text-time-almost-late {
  color: var(--theme-color-time-almost-late);
}
.text-time-late {
  color: var(--theme-color-time-late);
}


//STATUS
.on-board {
  background-color: var(--theme-color-on-board);
}
.text-on-board {
  color: #FFF;
}
.on-route {
  background-color:var(--theme-color-on-route);
}
.text-on-route {
  color: #FFF;
}
.failed-to-board {
  background-color: var(--theme-color-failed-to-board);
}
.text-failed-to-board {
  color: #FFF;
}
.bus-has-arrived {
  background-color:var(--theme-color-bus-has-arrived);
}
.text-bus-has-arrived {
  color: #FFF;
}
.scheduled {
  background-color: var(--theme-color-scheduled);
}
.text-scheduled {
  color: #FFF;
}


//TYPOGRAPHY
.text-size-display-1 {
  font-size: 28px !important;
}

.text-size-display {
  font-size: 22px !important;
}

.text-size-title {
  font-size: 18px !important;
}

.text-size-header {
  font-size: 16px !important;
}

.text-size-detail {
  font-size: 14px !important;
}

.text-size-caption {
  font-size: 12px !important;
}
.text-size-alert-caption {
  font-size: 11px !important;
}
.card-details-title{
  font-size: 12px;
}
.text-size-title-caption {
  font-size: 17px;
}
.text-size-admin-message {
  font-size: 20px;
}
.text-size-admin-title {
  font-size: 23px;
}
.card-details-text{
  font-size: 12px;
}
.title-text {
  padding: 5px 5px 0px 15px;
  font-size: 22px;
}
.alert-title-text {
  font-size: 22px;
}
.uppercase {
  text-transform: uppercase;
}

.bg-primary {
  background-color:var(--theme-color-primary);
  --background:var(--theme-color-primary);
  &.ion-activated {
      background-color:var(--theme-color-primary-active);
      --background:var(--theme-color-primary-active);
      --background-activated:var(--theme-color-primary-active);
  }
}

.bg-success {
  background-color:var(--theme-color-success);
  --background:var(--theme-color-success);
}
.bg-info {
  background-color:var(--theme-color-info);
  --background:var(--theme-color-info);
}
.bg-error {
  background-color:var(--theme-color-error);
  --background:var(--theme-color-error);
}
.bg-warning {
  background-color:var(--theme-color-warning);
  --background:var(--theme-color-warning);
}
.primary {
  color:var(--theme-color-primary);
}

.success {
  color:var(--theme-color-success);
  --color:var(--theme-color-success);
}
.info {
  color:var(--theme-color-info);
  --color:var(--theme-color-info);
}
.error {
  color:var(--theme-color-error);
  --color:var(--theme-color-error);
}
.warning {
  color:var(--theme-color-warning);
  --color:var(--theme-color-warning);
}

.lightgray {
  color:lightgray;
  --color: lightgray;
}
.gray {
  color:gray;
}
.color-alert-title {
  color:rgb(78, 78, 78);
}



//ELEMENT
.text-card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.home-component {
  --background: var(--theme-color-primary);
  background: var(--theme-color-primary);
}
.main-logo {
  width: 99%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 10px;
  img {
      width: 85%;
      margin: 0 auto;
      max-width: 350px;
  }
}
.main-logo ion-item {
  --background: var(--theme-background-color);
  background: var(--theme-background-color);
  padding: 0 10px;
  margin-bottom: 10px;
}
.slides {
  ion-slide {
       ion-card {
           width: 100%;
           height: 200px;
           max-height: 220px;
          background-color: var(--theme-background);
          border-radius: 15px 15px 15px 15px;
          margin-top: 8px;
          margin-bottom: 16px;
          margin-inline: 8px !important;
      }
  }
}
.bottom-content {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 80vh;
  background-color: var(--theme-background);
  border-top-left-radius: 30px ;
  border-top-right-radius: 30px ;
}
.main-content-field {
  padding-top: 15px;
  background-color: var(--theme-background-color);
  border-radius: 30px 30px 0 0;
}
.header-content-field{
  background-color: var(--theme-color-primary);
  height: 15vh;
}
.card-name {
  padding: 5px 5px 0px 15px;
  font-size: 22px;
}
.title-menu {
  height: 32px;
}
.failed-to-board-row {
  background-color: rgba(255,100,100,0.2);

}
.failed-to-board-row::after {
  content: "FAILED TO BOARD";
  font-size: 35px;
  color: rgba(255, 50, 50, 0.3);
  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  z-index: -1;
  overflow: hidden;
  font-weight: bolder;
}
.no-data{
  width: 100%;
  height: 100%;
}
.no-data::after {
  content: "NO DATA";
  font-size: 45px;
  color: rgba(100, 100, 100, 0.3);
  position: absolute;
  margin: 0 auto;
  padding-top: calc( 40% - 45px );
  width: 100%;
  text-align: center;
  z-index: -1;
  overflow: hidden;
  font-weight: bolder;
}
.otp-input {
  background: var(--theme-background-box);
  border-radius: 4px;
  margin: 2px;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-weight: bold;
  color: #333;
  ion-input {
      .native-input{
          width: 22px;
          padding: unset !important;
      }

  }
}
.textarea-box {
  --background: var(--theme-background-box);
      border-radius: 7px;
}
.rounded {
  width: 100%;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}
/** scoped for home page **/
.student-card {

  ion-slide {
      min-width: 500px;
  }
  ion-card {
      background-color: var(--theme-background);
  }
  ion-card-content{
      ion-grid {
          max-height: 210;
          ion-row {
              max-height: 210;
              ion-col {
                  max-height: 210px;
              }
          }

      }
      height: 100%;
      max-height: 210px;
      padding: 0px;
      overflow: hidden;
      .card-status {
          max-height: 210px;
      }
      .card-details {
          background-color: var(--theme-background);
      }
      .card-status-text {
          color: #FFF;
          margin: auto auto;
          writing-mode: vertical-rl;
          -webkit-text-orientation: mixed;
          text-orientation: mixed;
          font-weight: normal;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
      }


      .card-action {
          height: 170px;
          background-color: var(--theme-background);
          margin: auto 0;
          align-items: center;
          justify-content: center;
      }

      .card-action-btn {
          width: 33px;
          height: 33px;
          border-radius: 50%;
          float: right;
      }
  }
}
.action-containar {
  position: absolute;
  right: 0;
  width: 80px;
}
.details-card{
  height: calc(75vh - 256px);
 ion-card {
  background-color: var(--theme-background);
  height: 100%;
  padding: 0px;
  margin: 5px;
  border-radius: 16px;
  ion-card-content {
      width: 100%;
      height: calc(75vh - (5vh + 256px));
  }
  .card-caption-detail {
      height: 5vh;
  }
 }
 .card-list-location {
      border-bottom: solid 2px #EEE;
      min-height: 50px;
      position: relative;
 }
 .card-list-location-action{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: lightgray;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
 }
}
.search-list {
  --background: var(--theme-list-background) !important;
  border: solid 1px var(--theme-list-border);
  border-radius: 6px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 5px;
  color: var(--theme-list-color);
}
.build-number {
      display: block;
      position: absolute;
      -ms-flex-order: 1;
      order: 1;
      width: 100%;
      bottom: 0;
      z-index: 10;
      ion-row {
          float: right;
      }
}




//ALIGNMENT
.no-padding{
  padding: 0;
}
.relative {
  position: relative;
}
.dp {
  display :block;
}
.dn {
  display: none;
}
.full-height {
  height: 100%;
}
.full-vh {
  height: 100vh;
}
.bold {
  font-weight: bold !important;
}
.flat {
  box-shadow: unset !important;
}
.normal {
  font-weight: normal !important;
}
.swiper-slide {
  width: auto;
}
.align-middle {
  vertical-align: middle;
  display: inline-flex;
}
.m-auto {
  margin: auto;
}
.right {
  float: right !important;
}
@for $i from 0 through 1000 {
  .p-#{$i} {
      padding: $i + 0px !important;
   }
  .py-#{$i} {
     padding-top: $i + 0px !important;
     padding-bottom: $i + 0px !important;
  }
  .px-#{$i} {
      padding-left: $i + 0px !important;
      padding-right: $i + 0px !important;
  }
  .pr-#{$i} {
      padding-right: $i + 0px !important;
  }
  .pl-#{$i} {
      padding-left: $i + 0px !important;
  }
  .m-#{$i} {
      margin: $i + 0px !important;
   }
  .my-#{$i} {
      margin-top: $i + 0px !important;
      margin-bottom: $i + 0px !important;
  }
  .mx-#{$i} {
       margin-left: $i + 0px !important;
       margin-right: $i + 0px !important;
  }
  .mr-#{$i} {
      margin-right: $i + 0px !important;
  }
  .ml-#{$i} {
      margin-left: $i + 0px !important;
  }
  .mb-#{$i} {
      margin-bottom: $i + 0px !important;
  }
  .mt-#{$i} {
      margin-top: $i + 0px !important;
  }
  .mxh-#{$i} {
      max-height: $i + 0px !important;
  }
  .mnh-#{$i} {
      min-height: $i + 0px !important;
  }

}
@for $i from 0 through 200 {
  .mw-#{$i} {
      max-width: $i + 0px !important;
   }
   .mh-#{$i} {
      max-height: $i + 0px !important;
   }
   .w-#{$i} {
      width: $i + 0px !important;
   }
   .h-#{$i} {
      height: $i + 0px !important;
   }
}
@for $k from 1 through 100 {
   .wp-#{$k} {
      float: left;
      width: calc(#{$k}% + 0px) !important;
   }
   .mxwp-#{$k} {
      float: left;
      max-width: calc(#{$k}% + 0px) !important;
   }
   .mxwh-#{$k} {
      max-height: calc(#{$k}% + 0px) !important;
   }
}
.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}
.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
  display: inline-grid;
  height: 100%;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}


//BOTTOM SHEET
.bottom-sheet {
 &.alert {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  z-index: 20;
  background-color: var(--theme-background);
  transform: translate3d(0px, 100%, 0px);
  .bottom-sheet-container {
      height: 70vh ;
      h1 {
          font-weight: bold;
      }
      p {
          color: grey;
          font-weight: bold;
      }
  }
  .swipe-handler::after {
      content: '';
      width: 36px;
      height: 4px;
      position: absolute;
      left: 50%;
      top: 3%;
      margin-left: -18px;
      margin-top: -2px;
      border-radius: 2px;
      background: lightgray;
  }
 }
 &.live-tracking {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  z-index: 20;
  background-color: var(--theme-background);
  transform: translate3d(0px, 100%, 0px);
  .bottom-sheet-container {
      height: 90vh ;
      h1 {
          font-weight: bold;
      }
      p {
          color: grey;
          font-weight: bold;
      }
  }
  .swipe-handler::after {
      content: '';
      width: 36px;
      height: 4px;
      position: absolute;
      left: 50%;
      top: 3%;
      margin-left: -18px;
      margin-top: -2px;
      border-radius: 2px;
      background: lightgray;
  }
 }
}
.bottom-sheet-pane {
  z-index: 1000 !important;
  width: 100%;
  &.alert {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.15) ;
      z-index: 10;
      transition: 3s;
  }
  &.live-tracking {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.15) ;
      z-index: 10;
      transition: 3s;
  }
}

//TOAST
ion-toast.toast-noti-default {
  --background: var(--theme-background);
  --box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  --border-radius: 15px 15px 15px 15px;
  --min-height: 100px;
  .toast-message {
      white-space: pre-line;
  }
}
ion-toast.toast-noti-default::part(header) {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700 !important;
  color: #222;
}
ion-toast.toast-noti-default::part(message) {
  color: #424242;
}

.alert {
  .alert-logo{
      width:70px;
      height:70px;
  }
}
.splash {
  background-image: url('../assets/imgs/BG4.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-position: center;
}
.footer-bar {
  position: fixed;
  bottom: 0;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  letter-spacing: 1px;
}
.verticalLine {
  width:5%;
  height:50px;
  background:#FFF;
  margin-top: 0;
  position: relative;
  margin-left: 10%;
}
.strike{
  text-decoration: line-through;
  text-decoration-color: red;
}
