<ion-header>
  <ion-toolbar>
    <ion-title class="text-size-caption gray uppercase normal">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="nextStep()" novalidate>

    <ion-grid class="ion-padding mt-70">
      <ion-row>
        <ion-col size-md="5" class="mx-auto">
          <div class="main-logo">
            <ion-item lines="none">
              <img src="assets\imgs\logo2.png" />
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="10" size-md="5" class="mx-auto">
          <ion-item class="box" lines="none">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Email Address"></ion-input>
          </ion-item>
          <span class="dp error mt-5" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Email is required.
          </span>
          <span class="dp error mt-5" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
            Please provide valid email id.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5" class="mx-auto">
          <ion-button type="submit" class="bg-primary uppercase" expand="block">Next</ion-button>
        </ion-col>
      </ion-row>


      </ion-grid>
  </form>
</ion-content>
